<connectionStrings>
  <add name="dbcs" connectionString="data source=app.mobendo.com;initial catalog=PushSharpDemo;persist security info=True;user id=vmandic;password=M4nd1c321$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!--<add name="dbcs" connectionString="data source=sopw8g0sdz.database.windows.net;initial catalog=PushSharpDemo;persist security info=True;user id=vmandic;password=Peroideusumu321!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
</connectionStrings>
